@import "tailwindcss";

@font-face {
  font-family: "Cascadia Code";
  src: url("@assets/fonts/CascadiaCode.ttf") format("truetype");
}

@theme {
  /*-- FONTS --*/
  --font-family: "Cascadia Code", sans-serif;

  /* -- COLORS -- */
  --color-primary: #f0eae2;
  --color-secondary: #b7694a;
  --color-secondary-dark: #6d402c;
  --color-tertiary: #eee9ee;
  --color-neutral: #797675;
}

:root {
  font-family: var(--font-family);
}
hr {
  color: var(--color-neutral);
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
